In [ ]:
import pandas as pd

pd.read_csv("Pokemon.csv")

In [ ]:
import pandas as pd

pd.read_csv("Pokemon.csv", squeeze = True)  # squeezing converts it into series

In [ ]:
import pandas as pd

pd.read_csv("Pokemon.csv", squeeze = True, usecols = ["Pokemon"])  # if we want to use only one column named Pokemon

In [3]:
import pandas as pd

pokemon = pd.read_csv("Pokemon.csv", squeeze = True, usecols =["Pokemon"])

In [4]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [6]:
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [7]:
pokemon.tail(10)

711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [8]:
# for checking any repeating value is there inside this column or not

pokemon.is_unique

True

In [9]:
pokemon.shape   # it give number of rows and column

(721L,)

In [10]:
pokemon.name  # give name of the column

'Pokemon'

In [12]:
pokemon.name= "Pokemon_new"  # Changing the name of column

pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon_new, dtype: object