In [31]:
import pandas as pd

import numpy as np

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import confusion_matrix

In [32]:
data = pd.read_csv("Ads.csv")

data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [33]:
real_x = data.iloc[:,[2, 3]].values

real_y = data.iloc[:, [4]].values

In [34]:
training_x, test_x, training_y, test_y = train_test_split(real_x, real_y)

In [35]:
scaler = StandardScaler()

In [36]:
training_x = scaler.fit_transform(training_x)

test_x = scaler.fit_transform(test_x)

In [37]:
classify_LR = LogisticRegression (random_state = 0)

In [38]:
classify_LR.fit(training_x, training_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [39]:
y_pred = classify_LR.predict(test_x)
y_pred

array([1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0], dtype=int64)

In [41]:
c_m = confusion_matrix (test_y, y_pred)
c_m

array([[61,  3],
       [13, 23]], dtype=int64)

In [ ]:
# matrix shown above gives accuracy..61+23 are the correct predictions and 13+3 are incorrect predictions