In [ ]:
import pandas as pd

pokemon = pd.read_csv("Pokemon.csv", squeeze = True, usecols=["Pokemon"])

In [ ]:
pokemon.sort_values()  # it sorts the value in alphabetical order

In [ ]:
pokemon.sort_values(ascending=True) # arranges values in ascending order

In [ ]:
pokemon.sort_values(ascending=False)  # arranges values in descending order

In [5]:
pokemon.sort_values(ascending=False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, dtype: object

In [7]:
google = pd.read_csv("google_stock_price.csv", squeeze = True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [8]:
google.sort_values()  # defalut arranges in ascending order

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
7        50.95
14       51.10
13       51.10
8        51.13
3        52.38
15       52.61
4        52.95
6        53.02
16       53.70
5        53.90
1        54.10
2        54.65
17       55.69
18       55.94
19       56.93
20       58.69
22       58.86
26       59.07
23       59.13
21       59.62
25       59.86
24       60.35
27       63.37
29       64.74
28       65.47
         ...
2921    750.53
2846    751.61
2931    751.72
2881    752.00
2842    752.54
2936    752.67
2932    753.20
2935    753.93
2835    755.98
2834    756.60
2851    758.09
2861    758.88
2933    759.00
2937    759.14
2845    762.37
2841    762.38
2858    762.51
2844    763.25
2882    764.65
2934    766.61
2843    766.81
2840    767.04
3006    768.79
2860    771.00
3008    771.07
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [10]:
google.sort_values(ascending = False, inplace = True)   # inplace replaces old series with new
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64