In [1]:
import pandas as pd

bond = pd.read_csv("Bond.csv", index_col = "Film")

bond.sort_index(inplace = True)

bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [4]:
def good_movie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "The Best"
    elif actor == "Roger Moore" & budget >40:
        return "Enjoyable"
    else:
        return "I have no idea"

In [7]:
bond.apply(good_movie, axis="columns")

TypeError: ("unsupported operand type(s) for &: 'str' and 'float'", u'occurred at index A View to a Kill')