In [2]:
import pandas as pd
bond = pd.read_csv("Bond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [3]:
bond.loc["Casino Royale", "Director"]

Film
Casino Royale    Martin Campbell
Casino Royale         Ken Hughes
Name: Director, dtype: object

In [4]:
bond.loc["Die Another Day", "Actor":"Budget"]

Actor         Pierce Brosnan
Director        Lee Tamahori
Box Office             465.4
Budget                 154.2
Name: Die Another Day, dtype: object

In [5]:
bond.iloc[3, 2]

'Guy Hamilton'

In [6]:
bond.iloc[3,2:5]

Director      Guy Hamilton
Box Office           442.5
Budget                34.7
Name: Diamonds Are Forever, dtype: object

In [7]:
bond.ix[3, 4]

c:\python27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

34.7

In [8]:
bond.ix[2, 3:5]

c:\python27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Box Office    315
Budget         85
Name: Casino Royale, dtype: object

In [9]:
bond.ix["Casino Royale", "Director"]

c:\python27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Film
Casino Royale    Martin Campbell
Casino Royale         Ken Hughes
Name: Director, dtype: object

In [10]:
bond.ix["Casino Royale", "Director":"Budget"]

c:\python27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

                      Director  Box Office  Budget
Film
Casino Royale  Martin Campbell       581.5   145.3
Casino Royale       Ken Hughes       315.0    85.0